body {
  padding: 0;
  margin: 0; }

.row {
  width: 90%;
  margin-left: -30px;
  display: table; }
  .row .one {
    width: 7.5%; }
  .row .two {
    width: 15%; }
  .row .three {
    width: 22.5%; }
  .row .four {
    width: 30%; }
  .row .five {
    width: 37.5%; }
  .row .six {
    width: 45%; }
  .row .seven {
    width: 52.5%; }
  .row .eight {
    width: 60%; }
  .row .nine {
    width: 67.5%; }
  .row .ten {
    width: 75%; }
  .row .eleven {
    width: 82.5%; }
  .row .twelve {
    width: 90%; }

.row:after {
  clear: both; }

.stone, .stones {
  float: left;
  margin-left: 30px; }

/* Mobile ---------------------- */
@media only screen and (max-width: 767px) {
  .row {
    width: auto; }

  .stone, .stones {
    float: none;
    width: auto !important; } }

input.slide_control {
  display: none; }

.button-small {
  width: 75px;
  height: 25px;
  background-color: #661e3b;
  background-image: -moz-linear-gradient(center top, #ed468a, #992d58);
  border: 1px solid #7D2549;
  color: #1F0902; }

.button-medium {
  width: 125px;
  height: 25px;
  background-color: #661e3b;
  background-image: -moz-linear-gradient(center top, #ed468a, #992d58);
  border: 1px solid #7D2549;
  color: #1F0902; }

.button-large {
  width: 175px;
  height: 25px;
  background-color: #661e3b;
  background-image: -moz-linear-gradient(center top, #ed468a, #992d58);
  border: 1px solid #7D2549;
  color: #1F0902; }

.button-medium:hover, .button-small:hover, .button-large:hover {
  background-color: #661e3b;
  background-image: -moz-linear-gradient(center top, #992d58, #ed468a); }
