
$bar-color: rgb(255, 255, 255);
$bar-height: 50px;

.bar {
  border-top: 1px solid white;
  border-bottom: 2px solid black;
  width: 100%;
  height: $bar-height;
  background-image: linear-gradient(bottom, rgb(0,0,0) 0%, rgb(115,115,115) 100%);
  background-image: -o-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(115,115,115) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(115,115,115) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(115,115,115) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(115,115,115) 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgba(0,0,0, 0.3)),
    color-stop(1, rgba(115,115,115, 0.3))
  );
  .title {
    padding-left: 5%;  
  }
}

.top-bar {
  @extend .bar;
  position: absolute;
  top: 0;
}
    
.bottom-bar {
  @extend .bar;
  position: absolute;
  bottom: 0;
}

ul.nav {
  list-style: none;
  margin: 0;
  height: 50px;
  li {
    position: relative;
    height: 50px;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid #fefefe;
  }
  :last-child {
    border-right: 1px solid #fefefe;
  }
}
