
$bar-color: rgb(255, 255, 255);
$bar-height: 50px;

$bar-gradient-start-color: rgba(150, 150, 150, 0.1);
$bar-gradient-end-color: rgba(255,255,255, 0.5);

.bar {
  border-top: 1px solid white;
  border-bottom: 1px solid black;
  width: 100%;
  height: $bar-height;
  background-image: linear-gradient(bottom, $bar-gradient-start-color 0%, $bar-gradient-end-color 100%);
  background-image: -o-linear-gradient(bottom, $bar-gradient-start-color 0%, $bar-gradient-end-color 100%);
  background-image: -moz-linear-gradient(bottom, $bar-gradient-start-color 0%, $bar-gradient-end-color 100%);
  background-image: -webkit-linear-gradient(bottom, $bar-gradient-start-color 0%, $bar-gradient-end-color 100%);
  background-image: -ms-linear-gradient(bottom, $bar-gradient-start-color 0%, $bar-gradient-end-color 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, $bar-gradient-start-color),
    color-stop(1, $bar-gradient-end-color)
  );
  .title {
    padding-left: 5%;  
  }

  -webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.3);
     -moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow:0 5px 10px rgba(0, 0, 0, 0.3);

}

.top-bar {
  @extend .bar;
  position: fixed;
  top: 0;
}
    
.bottom-bar {
  @extend .bar;
  position: fixed;
  bottom: 0;
}

ul.nav {
  list-style: none;
  margin: 0;
  height: 50px;
  > li {
    position: relative;
    height: 50px;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid #fefefe;
    ul {
      display: none;
      list-style: none;
    }
  }
  >li:hover {
    background-color: #fefefe;
  }
  li:hover > ul {
    width: 100%;
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    > li {
      background-color: #fefefe;
      border: 1px solid white;
    }
  }
  > :last-child {
    border-right: 1px solid #fefefe;
  }
}
