.button-large dropdown { 
  width:175px;
  height:25px;
  background-color: #fff2a1;
  background-image: -moz-linear-gradient(center top , #ff3600, #FFF200);
  border: 1px solid #c42b00;
  color:#ffffff;
  margin:5px;
}

.button-full {
  width: 100%;
  height:25px;
  background-color: #FFF2A1;
  background-image: -moz-linear-gradient(center top , #ff9900, #ff3600);
  border: 1px solid #c42b00;
  color:#ffffff;
  margin:5px;
}

.button-small {
  width:75px;
  height:25px;
  background-color: #fff2a1;
  background-image: -moz-linear-gradient(center top , #ff9900, #ff3600);
  border: 1px solid #c42b00;
  color:#ffffff;
  /*text-shadow: 0.1em #ffffff;*/
  margin:5px;
}

.button-medium {
  width:125px;
  height:25px;
  background-color: #661e3b;
  background-image: -moz-linear-gradient(center top , #ff9900, #ff3600);
  border: 1px solid #c42b00;
  color:#ffffff;
  margin:5px;
}

.button-large {
  width:175px;
  height:25px;
  background-color: #661e3b;
  background-image: -moz-linear-gradient(center top , #ff9900, #ff3600);
  border: 1px solid #c42b00;
  color:#ffffff;
  margin:5px;
}

.button-medium:hover, .button-small:hover, .button-large:hover, .button-full:hover{
  background-color: #661e3b;
  background-image: -moz-linear-gradient(center top , #ff3600, #ff9900);
}