$hundred-percent: 100%;
$stone-margin: 1%;
$stone-margin-vertical: 1%;

//$stone-width: $hundred-percent / 10 - $stone-margin; // - $stone-margin / 2;
$num-stones: 12;
$stone-width: $hundred-percent / ($num-stones + 1);
$stone-margin: (100 - $stone-width * $num-stones) / ($num-stones - 1);

.row {
  width: $hundred-percent;
  display: table;

  .one {
    width: $stone-width;
  }

  .two {
    width: $stone-width * 2 + $stone-margin;
  }

  .three {
    width: $stone-width * 3 + $stone-margin * 2;
  }

  .four {
    width: $stone-width * 4 + $stone-margin * 3;
  }

  .five {
    width: $stone-width * 5 + $stone-margin * 4;
  }

  .six {
    width: $stone-width * 6 + $stone-margin * 5;
  }

  .seven {
    width: $stone-width * 7 + $stone-margin * 6;
  }

  .eight {
    width: $stone-width * 8 + $stone-margin * 7;
  }

  .nine {
    width: $stone-width * 9 + $stone-margin * 8;
  }

  .ten {
    width: $stone-width * 10 + $stone-margin * 9;
  }

  .eleven {
    width: $stone-width * 11 + $stone-margin * 10;
  }

  .twelve {
    width: $hundred-percent;
  }

  .centered {
    float: none;
    margin: 0 auto;
  }

  .offset-one {
    margin-left: $stone-margin + $stone-width;
  }

  .offset-two {
    margin-left: ($stone-margin + $stone-width) * 2;
  }

  .offset-three {
    margin-left: ($stone-margin + $stone-width) * 3;
  }

}

.row:after {
  clear: both;
}

.stone, .stones {
  float: left;
  margin-right: $stone-margin;
  margin-bottom: $stone-margin-vertical;
}

.stone:last-child, .stones:last-child {
  margin-right: 0px;
}

.centered.stone:last-child, .centered.stones:last-child {
  margin: auto !important;
}


/* Mobile ---------------------- */
@media only screen and (max-width: 767px) {
  .row {
    width: $hundred-percent;

    .offset-one, .offset-two {
      margin-left: 0px;
    }

    .offset-three {
      margin-left: 0px;
    }
  }

  .stone, .stones, .stone:last-child, .stones:last-child {
    float: none;
    width: auto !important;
    margin-right: 0px;
  }
}